.git
.github
.terraform
.DS_Store
**/node_modules
**/dist
**/build
**/bin
**/out
**/coverage
**/*.log
**/*.out
**/*.tmp
**/*.swp
**/*.tfstate
**/*.tfstate.*
**/terraform.tfstate
**/terraform.tfstate.*
